{% load staticfiles %}
{% load compress %}
{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html>
	<head>
		<title> Online Course Tool for Adaptive Learning </title>

    {% block css %}
    <link rel="stylesheet" href="{% static "css/jquery.sidr.dark.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
    <link rel="stylesheet" href="{% static "css/quiz.css" %}" />
    {% endblock %}

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.CONTENT_SERVER = "{{ content_server }}";
      window.STATIC_PATH = "{% static "" %}";
      window.GRAPH_CONCEPT_PATH = "{% url 'graphs:concepts' %}";
      window.PRODUCTION = window.location.href.match('metacademy') !== null;
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% endblock %}  



</head>





<div id="quiz-wrapper">
</div>

{% include "quiz-view.html" %}

  {% if debug %}
  <script data-main="{% static "javascript/octal/quiz-main.js" %}" type="text/javascript" src="{% static "javascript/lib/require-min.js" %}"></script>
  {% else %}
  <script  src="{% static "javascript/lib/require-min.js" %}"></script>
  <script src="{% static "javascript/octal/quiz-main.js" %}"></script>
  {% endif %}

</html>
