.quiz {
    text-align:center;
    border:1px solid black;
    border-radius: 5px;
    top-margin:200px;
    width:40%;
		height:100%;
		float:left;
}

.answer {
    position:relative;
    text-align:left;
    border: 1px solid black;
    display:inline-block;
    padding:0px 10px 0px 10px;
    border-radius: 3px;
}

.question-content {
    padding: 0em 2em 0em 2em
}
.answer-choice {
    display:block;
    margin:auto;
}

.submit-button {
    clear:both;
}

.topic-list {
    margin: 25px 5px 25px 5px;
}

.title {
		text-transform:capitalize;
}

#graph-wrapper {
		width:59%;
		height:100%;
		float:left;
}